!!! 5
%html{lang: "en-US"}
  %head
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NervesHub</title>
    <link rel="stylesheet" href="#{static_path(@conn, "/css/app.css")}">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
  %body
    #wrapper
      #header.container-fluid
        .row
          .col-8
            .logo
              %a{href: "#{home_path(@conn, :index)}"}
                NervesHub
              %span.hilight
                = page_description(@conn)
          .col-4.right
            = session_buttons(@conn)
      #contents.container-fluid
        %main.light{role: "main"}
          = render @view_module, @view_template, assigns
      #footer
        .row
          .col-4
            = account_data(@conn)
          .col-6
          .col-2.text-right.big_icons
            %a{href: "https://github.com/nerves-hub"}
              %span.fa.fa-github
            %a{href: "https://twitter.com/nervesproject"}
              %span.fa.fa-twitter
    .modal#js_modal_holder
      .modal-dialog
        .modal-content#js_modal_content
    <script src="#{static_path(@conn, "/js/app.js")}"></script>
